@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

header .logo {
  color: black;
  font-weight: bolder;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
  font-weight: bold;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: black;
  border-radius: 30px;
  cursor: pointer;
}

header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #5288ff;
}

.hero {
  background: linear-gradient(to top, #57b0ff, #6dd0f3, #c0f4dd);
  min-height: 100vh;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}
.hero::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1200px;
  background: linear-gradient(to bottom, #57b0ff, transparent);
  z-index: 100;
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.hero img#cloud {
  mix-blend-mode: screen;
}

#text {
  font-family: 'Rubik Bubbles', cursive;
  position: absolute;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5288ff;
  white-space: nowrap;
  font-size: 8vw;
  z-index: 10;
  transform: translateY(30px);
}

#btn {
  text-decoration: none;
  display: inline-block;
  height: fit-content;
  padding: 10px 35px;
  border-radius: 30px;
  background-color: #5288ff;
  color: #fff;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(210px);
}
